<div class="container">
  <div class="col-12 col-md-8 offset-md-2">
    <div class="text-center mt-3">
      <h1>My Tasks</h1>
      <p>Always do your best.</p>
      <% if current_user.tasks.empty? %>
        <p>You have no tasks to do yet. <a href="#">Add a task</a></p>
      <% else %>
        <ul class="list-unstyled text-left">
          <% @tasks.each do |task| %>
            <a href="/tasks/<%= task.id %>">
              <li>
                <div class="card mb-2">
                  <div class="card-body d-flex flex-row align-items-baseline">
                    <h5 class="flex-grow-1"><%= task.title.capitalize %></h5>
                    <% if task.deadline %>
                      <p><strong><i class="far fa-clock"></i>Deadline: </strong><%= task.deadline %></p>
                    <% end %>
                  </div>
                </div>
              </li>
            </a>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
