<div class="container">
  <div class="col-12 col-md-8 offset-md-2 text-center">
    <div class="card mt-3">
      <div class="card-body">
        <h3 class="card-title">
          <%= @task.title.upcase %>
        </h3>
        <p class="card-content">
          <%= @task.description %>
        </p>

        <% if @task.deadline? %>
          <p><strong>Deadline:</strong> <%= @task.deadline %></p>
        <% else %>
          <p><strong>Deadline:</strong> Not set.</p>
        <% end %>

        <% if @task.finished? %>
          <p><strong>Status:</strong> Task is done. Undo?</p>
        <% else %>

            <p><strong>Status:</strong> Unfinished.
              <%= link_to "#" do %>
                Mark as done
              <% end %>
            </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
