.finished-button {
  color: rgb(0, 200, 0);
}

.undo-finished-button {
  color: rgb(228, 174, 58);
}

.btn-hover {
  opacity: 0.3;
  transition-duration: .15s;

  &:hover {
    opacity: 1;
  }
}

.big-validation-btn {
  border-radius: 24px;
}
